.formWrapper{
    width: 90%;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.SignIN-Form,.SignUP-Form{
    width: 50%;
    /* border: 2px solid grey; */
    padding: 10px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input{
    width: 100%;
    height: 40px;
    text-align: center;
    border: 0;
    border-bottom: 2px solid grey;
    outline: none;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}
button{
    width: 100%;
    padding: 10px;
}